.footer-fixed footer {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    text-align: center;
    display: table;
    overflow: hidden;
    margin: 0 auto;
}

footer ul li {
    margin-left: auto;
    margin-right: auto;
    width: 82px;
}

Html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.grandParentContaniner {
    display: table;
    height: 85%;
    margin: 0 auto;
}

.parentContainer {
    display: table-cell;
    vertical-align: middle;
}